{% extends 'base.html'%}

{% block title %} Acerca de OnlyFlans {% endblock title %}

{% block content %}
<div class="container pt-3 pb-4" style="background-color: #eeeff4;">
    <h1 class="text-center pt-4" style="padding-bottom: 30px;">¿Quiénes somos?</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8"> <!-- Esto limitará el ancho del contenido -->
            <div class="text-center">
                <p class="text-justify">
                    Bienvenido a OnlyFlans, una empresa dedicada al mundo de la pastelería y los postres, especializada en la venta de flanes, como lo sugiere su nombre. Fundada en el año 2021 en Santiago de Chile, OnlyFlans surge como un emprendimiento familiar con el firme propósito de ofrecer productos de calidad a su distinguida clientela. Estratégicamente ubicada en Providencia, a pocos pasos del metro Parque Bustamante, la empresa busca establecerse como un referente en el mercado de los dulces y postres artesanales.
                </p>
                <p class="text-justify">
                    A pesar de su reciente creación, OnlyFlans se distingue por su compromiso con la excelencia y la satisfacción del cliente. Conscientes de la importancia de una presentación cuidada y una experiencia de compra satisfactoria, nos esforzamos por ofrecer un catálogo de productos que deleiten tanto el paladar como la vista. Desde los clásicos flanes de vainilla hasta creaciones innovadoras y audaces, nuestra amplia variedad de opciones está diseñada para satisfacer todos los gustos y ocasiones.
                </p>
                <p class="text-justify">
                    Sin embargo, en OnlyFlans no solo nos dedicamos a la venta de productos; también nos preocupamos por construir relaciones sólidas con nuestros clientes. Es por ello que hemos desarrollado un espacio exclusivo para usuarios registrados, donde podrán acceder a productos especiales y promociones únicas. Creemos firmemente en la importancia de la fidelización de clientes y en la creación de una comunidad que comparta nuestra pasión por los dulces y postres de calidad.
                </p>
                <p class="text-justify">
                    Además, estamos comprometidos con la innovación y la adaptación a las nuevas tendencias del mercado. Si bien actualmente nos enfocamos en la venta física en nuestra ubicación en Providencia, estamos explorando opciones para expandirnos al ámbito digital y ofrecer nuestros productos a través de internet. Esto nos permitirá llegar a un público más amplio y brindar una experiencia de compra conveniente y accesible para todos.
                </p>
                <p class="text-justify">
                    En resumen, en OnlyFlans nos esforzamos por ser mucho más que una simple pastelería. Somos un equipo apasionado y comprometido con la excelencia, la creatividad y la satisfacción del cliente. Te invitamos a explorar nuestro mundo de sabores y texturas, y a formar parte de nuestra comunidad de amantes de los dulces y postres artesanales. ¡Bienvenidos a OnlyFlans, donde cada bocado es una experiencia única!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
