{% extends 'base.html' %}

{% block title %} Contacto OnlyFlans {% endblock %}

{% block content %}
<div class="container" style="background-color: #eeeff4;">
    <h1 class="text-center pt-4">¡Contáctate con nosotros!</h1>
    <form action="{% url 'contacto'%}" method="post">
        {% csrf_token %}
        
        <!-- Campo de Nombre -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <label for="id_customer_name" class="form-label">Nombre</label>
                </div>
                <div class="mb-3 text-center">
                    {{ form.customer_name }}
                    <!-- Muestra los errores de validación debajo del campo -->
                    {% for error in form.customer_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Campo de Correo -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <label for="id_customer_email" class="form-label">Correo Electrónico</label>
                </div>
                <div class="mb-3 text-center">
                    {{ form.customer_email }}
                    <!-- Muestra los errores de validación debajo del campo -->
                    {% for error in form.customer_email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Campo de Mensaje -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <label for="id_message" class="form-label">Mensaje</label>
                </div>
                <div class="mb-3 text-center">
                    {{ form.message }}
                    <!-- Muestra los errores de validación debajo del campo -->
                    {% for error in form.message.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Botón Enviar centrado -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="pb-4 text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    /* Ajuste del ancho de los campos de entrada */
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box; /* Asegura que el ancho incluya el padding */
        margin-bottom: 10px;
    }
</style>

{% endblock %}
